.form {
    font-size: 12px;
    padding: 10px;
    border-radius: 10px;
}

.form label {
    font-size: 12px;
    padding: 3px 0 3px 0;
}

.form input {
    font-size: 12px;
    height: 25px;
}

.form select option {
    font-size: 12px;
    height: 35px;
}

.titulo {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}