.fondo{
    background: rgb(95, 186, 233);
    background: linear-gradient(0deg, rgba(95, 186, 233, 1) 0%, rgba(3, 24, 23, 0.4066001400560224) 0%);
    background-image: url('../../assets/images/sullana.jpg');
    background-size: cover;
    
}